
* {
    -fx-background-color: rgb(8, 170, 0);
    -fx-text-fill: rgb(5, 86, 1);
}


.tree-view {
    -fx-padding: 5px;
}

.tree-cell {
    -fx-background-color:rgb(172, 255, 168); 
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color:rgb(98, 252, 90); 
}

.tree-cell:filled:selected{
    -fx-background-color:rgb(98, 252, 90); 
}

.text-area .content{
    -fx-background-color:rgb(172, 255, 168);
}
.tree-cell .tree-disclosure-node .arrow {

    -fx-background-color: lightgray;
 
}
.tree-cell:expanded .tree-disclosure-node .arrow {

    -fx-background-color: lightgray;

}